@font-face {
  font-family: "iconfont"; /* Project id 3210359 */
  src: url('iconfont.woff2?t=1646056335038') format('woff2'),
       url('iconfont.woff?t=1646056335038') format('woff'),
       url('iconfont.ttf?t=1646056335038') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e62b";
}

.icon-thepin:before {
  content: "\e6a7";
}

.icon-search:before {
  content: "\e60c";
}

.icon-close:before {
  content: "\e623";
}

.icon-warning:before {
  content: "\e745";
}

.icon-setting:before {
  content: "\e63a";
}

.icon-link:before {
  content: "\e659";
}

.icon-arrow-up:before {
  content: "\e743";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-thepin-active:before {
  content: "\e714";
}

.icon-list-ol:before {
  content: "\f286";
}

.icon-back:before {
  content: "\ec29";
}

.icon-add:before {
  content: "\e632";
}

.icon-list-ul:before {
  content: "\e7a1";
}

.icon-editor-bold:before {
  content: "\e61e";
}

.icon-clock:before {
  content: "\e636";
}

